<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="pageCont">
  <div class="lbl-cont">
    <p style="font-weight: bold;">Intereses</p>
  </div>
  <div class="avatar-cont">
    <ion-slides #recentSlider [options]="sliderConfig" class="slider">
      <ion-slide *ngFor="let u of hunterList">
        <div class="img-cont">
          <ion-avatar (click)="selectUser(u)">
            <img [src]="u.photo" class="avatar-img">
            <!-- <div class="circle-online" [hidden]="!u.online"></div>
            <div class="circle-offline" [hidden]="u.online"></div> -->
          </ion-avatar>
        </div>       
      </ion-slide>
    </ion-slides>
  </div>
  <div class="lbl-cont">
    <ion-row>
      <ion-col class="lbl-col"><p>Conversaciónes</p></ion-col>
      <ion-col class="icon-col"><ion-icon name="options-outline" (click)="filter()"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="list-cont">
    <ion-list>
      <ion-item *ngFor="let hunter of hunterList" (click)="selectUser(hunter)">
        <ion-avatar slot="start">
          <img [src]="hunter.photo">
        </ion-avatar>
        <div class="circle" ></div>
        <div class="details-cont">
          <h3>{{hunter.first_name}} {{hunter.last_name}}</h3>
          <p>Me gusta tu perfil, te mandare</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
