.tabbar {
  justify-content: center;
  background-color: black;
}
.tb-btn{
  background-color: black;
  color:white;
}

.tab-button {
  max-width: 200px;
}
.ion-tab-bar{
  --color-selected: #000fff !important
}