ion-title{
    text-align: center;
}
#hunterFilter{
    ion-select{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        height: 44px;
    }
    ion-input{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        --color: #23d8f9;
    }
    ion-datetime{
        border: 1px solid gray;
        color: cornflowerblue;
        word-spacing: 10px;
        text-align: left;
        margin-top: 10px;
    }
    p{
        margin-top: 2px;
        margin-bottom: 0px;
    }
    h6{
        font-weight: 300;
    }
    .comment-lbl{
        margin-top: 5px;
        font-style: italic; 
        font-size: 15px;
        color:#3d8af7;
    }
    .common-lbl{
        font-size: 15px;
    }
    .lbl-cont{
        text-align: left;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 500;
    }
    .titleList-cont{
        ion-item{
            --border-width: 0px;
            --border-color: transparent;
            --min-height:30px;
        }
        .title-col{
            max-width: 80%;
            display: flex;
            align-items: center;
            padding: 0px;
            .title-item{
                color:#23d8f9;
                font-size: 15px;
            }
        }
        .close-col{
            max-width: 20%;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            padding: 0px;
        }
    }
    .check-cont{
        // margin-top: 20px;
        display: flex;
        align-items: center;
        ion-label{
            margin-left: 15px;
        }
    }
    .btn-cont{
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        margin-top: 20px;
        .btn-img{
            background: url('../../../../assets/img/btn_background.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 80%;
            height: 35px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                // color: white;
                font-size: 15px;
                
            }
        }
    }
}