<ion-header>
  <ion-toolbar>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  (click)="filter()"><ion-icon name="create"  md="md-create" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="hunterFilter">
  
  <div class="lbl-cont" style="margin-top: 5px;"><ion-label>Tipo De cargo</ion-label></div>
  <div class="select-cont">
    <ion-select  placeholder="Lorem ipsum" interface="alert" [(ngModel)]='charge'>
        <ion-select-option *ngFor="let item of TIPO_DE_CARGO;"  [value]="item.name">
            {{item.name}}
        </ion-select-option>
    </ion-select>
  </div>

  <div class="lbl-cont"><ion-label>Expertise</ion-label></div>
  <div class="titleList-cont">
    <ion-item *ngFor="let item of selectedList">
        <ion-col class="title-col"><ion-label class="title-item">{{item.title}}</ion-label></ion-col>
        <ion-col class="close-col"><ion-icon name="close-circle" (click)="removeSelect(item)"></ion-icon></ion-col>
    </ion-item>
  </div>
  <p class="comment-lbl">Agregar expertise</p>
  <div class="select-cont">
    <ion-select  placeholder="Cobranzas" interface="alert" style="color:#23d8f9;" [(ngModel)]="expert">
        <ion-select-option *ngFor="let item of EXPERTISE;"  [value]="item.name">
            {{item.name}}
        </ion-select-option>
    </ion-select>
  </div>

  <div class="lbl-cont"><ion-label>Rango Salarial</ion-label></div>
  <div class="rang-cont">
    <ion-row>
      <ion-col><ion-input type="number" placeholder="min" [(ngModel)]="minValue"></ion-input></ion-col>
      <ion-col><ion-input type="number" placeholder="max" [(ngModel)]="maxValue"></ion-input></ion-col>
    </ion-row>
    <p class="common-lbl">*Salario bruto mensual</p>
  </div>

  <div class="lbl-cont"><ion-label>Disponibilidad</ion-label></div>
  <div class="select-cont">
    <ion-select  placeholder="A partir de" interface="alert" [(ngModel)]='available'>
        <ion-select-option *ngFor="let item of DISPONIBILIDAD;"  [value]="item.name">
            {{item.name}}
        </ion-select-option>
    </ion-select>
  </div>
  <div class="date-cont">
    <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="startDateCharge"></ion-datetime>
  </div>

  <div class="lbl-cont"><ion-label>Industria</ion-label></div>
  <div class="select-cont">
    <ion-select  placeholder="Cobranzas" interface="alert" [(ngModel)]="industrial">
        <ion-select-option *ngFor="let item of INDUSTRIA;"  [value]="item.name">
            {{item.name}}
        </ion-select-option>
    </ion-select>
  </div>

  <div class="lbl-cont"><ion-label>Fecha de solicitud</ion-label></div>
  <h6> Fecha de inicio</h6>
  <div class="date-cont">
    <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="startDate"></ion-datetime>
  </div>
  <h6> Fecha de finalizacion</h6>
  <div class="date-cont">
    <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="endDate"></ion-datetime>
  </div>

  <div class="lbl-cont"><ion-label>Ciudad</ion-label></div>
  <div class="select-cont">
    <ion-select  placeholder="Lima" interface="alert" [(ngModel)]='city'>
        <ion-select-option *ngFor="let item of CIUDAD;"  [value]="item.name">
            {{item.name}}
        </ion-select-option>
    </ion-select>
  </div>

  <div class="lbl-cont"><ion-label>Distrito</ion-label></div>
  <div class="select-cont">
    <ion-select  placeholder="San Borja" interface="alert" [(ngModel)]='district'>
        <ion-select-option *ngFor="let item of DISTRITO;"  [value]="item.name">
            {{item.name}}
        </ion-select-option>
    </ion-select>
  </div>
  <div class="check-cont" style="margin-top: 20px;">
    <ion-checkbox slot="start" [(ngModel)]="remote"></ion-checkbox>
    <ion-label>Trabajo remoto</ion-label>
  </div>

  <div class="check-cont" style="margin-top: 10px;">
    <ion-checkbox slot="start" [(ngModel)]="relocation"></ion-checkbox>
    <ion-label>Reubicación en otra región</ion-label>
  </div>

  <div class="btn-cont">
    <div class="btn-img" (click)="saveFilter()"><p>Aplicar</p></div>
  </div>
</ion-content>
