# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
jarsigner.exe
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

*.iml
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Estos archivos se autogeneran con comandos de GULP
/config.xml
/src/config/config.ts
/src/config/parameters.ts
/resources/icon.png.md5
/resources/splash.png.md5
/resources/android/
/resources/ios/
/resources/splash.png
/resources/icon.png
/src/assets/icon/header.png
/src/assets/images/fondo.png
/src/assets/images/sala.gif
/resources/splash.png
/resources/icon.png
/src/assets/icon/header.png
/src/assets/css/custom.css

resources/
