<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560375271294-taqj1flmoi806kstrb4ksrgaojl33jt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560375271294-taqj1flmoi806kstrb4ksrgaojl33jt9</string>
	<key>API_KEY</key>
	<string>AIzaSyBehTPxRTiGSo6lHKEVOUJQ4uAXrGmze9s</string>
	<key>GCM_SENDER_ID</key>
	<string>560375271294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.japiyop.org</string>
	<key>PROJECT_ID</key>
	<string>japiyop-125df</string>
	<key>STORAGE_BUCKET</key>
	<string>japiyop-125df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560375271294:ios:f289ba52f8f9dd22b02d2f</string>
	<key>DATABASE_URL</key>
	<string>https://japiyop-125df.firebaseio.com</string>
</dict>
</plist>