<ion-header>
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
    <ion-buttons slot="start">
        <ion-button class="back-btn" (click)="back()"><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="termCont">
  <p>
      Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      Lorem ipsum lorem ipsum lorem ipsum lorem ipsumLorem ipsum lorem ipsum lorem ipsum lorem ipsumLorem ipsum lorem ipsum lorem ipsum lorem ipsum
  </p>
    

</ion-content>
