
 .myModal{
    --border-radius: 20px;
    padding: 15px 5px !important;
   //  --background: black;
   //  color: white;
     .logo-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        .app-logo{
         width: 20%;
         max-width: 20%;
        }
     }
     .title-cont{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
     }
     .title-cont-detail{
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        margin-top: 5px;   
     }
     .list-cont{
      padding: 10px 15px;
      margin-top: 30px;
      .email-item{
         border-bottom: 1px solid #1a1a1a;
         ion-avatar{
            width: 35px;
            height: 35px;
            img{
               // border: 1px solid white;
            }
         }
      }
      
      h2{ 
         font-size: 18px;
         font-weight: 500;
         letter-spacing: 0.02em;
        }
        p{
         font-size: 13px;
         letter-spacing: 0.02em;
        }
        .add-item{
         display: flex;
         align-items: center;
         padding: 20px 15px;
         border-bottom: 1px solid #1a1a1a;
         .img-cont{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
         }
         ion-label{
            // color: white;
            margin-left: 20px;
         }
      }
     }
     .lbl-cont{
      // color: white;
      padding: 10px 25px;
      text-align: justify;
      margin-top: 50px;
      font-size: 15px;
     }
     
 }