 
<ion-content class="myModal" >
  <div class="logo-cont">
    <img class="app-logo" src="assets/icons/logo_color.png" alt="App logo">
  </div>
  <div class="title-cont">
    <ion-label style="color:white;">Elige una cuenta</ion-label>
    
  </div>
  <div class="title-cont-detail">
    <ion-label style="color:white;">para continuar usando Japiyop</ion-label>
  </div>
  <div class="list-cont">
     
      <ion-item class="email-item" (click)="addUser(user)" *ngFor="let user of userList">
        <ion-avatar slot="start">
          <img src="assets/img/person.png" [alt]="user.name + ' profile picture'">
        </ion-avatar>
        <ion-label>
          <h2>{{user.name}}</h2>
          <p>{{user.email}}</p>
        </ion-label>
      </ion-item>
     
    <div class="add-item" (click)="addAccount()">
      <div class="img-cont"><img src="assets/img/add_person_white.png" ></div>
      <ion-label>Agregar otra cuenta</ion-label>
    </div>
    
  </div>
  <div class="lbl-cont"> 
    <ion-label>
      Para continuar, [Google] compartira tu nombre, direccion de correo electronico y foto de perfil con Japiyop
    </ion-label>
  </div>
</ion-content>
