ion-toolbar{
    --min-height: 55px;
}
ion-title{
    text-align: center;
    font-weight: bold;
}

#contactCont{
    .link-cont{
        p{
            color: #19f1ca;
        }
        
    }
    
}