<ion-header>
  <ion-toolbar>
    <ion-title>Contactar Japiyop</ion-title>
    <ion-buttons slot="start">
        <ion-button class="back-btn" (click)="back()"><ion-icon name="arrow-back" style="color: white;"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="contactCont">
    <p>
        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        Lorem ipsum lorem ipsum lorem ipsum lorem ipsumLorem ipsum lorem ipsum lorem ipsum lorem ipsumLorem ipsum lorem ipsum lorem ipsum lorem ipsum
    </p>
    <div class="link-cont">
      <p (click)="link()">googlesheets.com/japiyop</p>
    </div>
</ion-content>
