<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-item color="transparent">
          <img [src]="hunter.avatar" slot="start"/>
          <p>{{hunter.author}}</p>
      </ion-item>
      
    </ion-title>
    <ion-buttons slot="start">
        <ion-button class="back-btn" (click)="back()"><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
          <ion-button class="back-btn" (click)="call()"><ion-icon name="call" color="dark"></ion-icon></ion-button>
          <ion-button class="back-btn" (click)="more()"><ion-icon name="ellipsis-vertical" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="chatroomCont">
  <div class="proposalCont">
    <div style="text-align: right;"><h5 (click)="proposal()">Proposal</h5></div>
    
    <h5 (click)="payment()">1st payment successful</h5>
    <h5 (click)="accept()">Service Accepted</h5>
    <h5 (click)="decline()">Service Declined</h5>
    <h5 (click)="conclud()">Full Service Concluded</h5>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
      <div class="bottom-bar">
          <ion-icon name="camera" (click)="takeFile()"></ion-icon>
          <ion-input type="text" placeholder="Type text" [(ngModel)]="textData"> </ion-input>
          <ion-icon name="send" (click)="sendMessage()" ></ion-icon>
      </div>
      
    </ion-toolbar>
  </ion-footer>