<ion-header>
  <ion-toolbar>
    <ion-title>Políticas de uso</ion-title>
    <ion-buttons slot="start">
        <ion-button class="back-btn" (click)="back()"><ion-icon name="arrow-back" style="color: white;"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="policyCont">
    <div class="q-cont">
        <ion-row class="title-row">
            <ion-col class="num"><p>1.</p></ion-col>
            <ion-col class="lbl"><p>Lorem ipsum lorem ipsum lorem ipsu?</p></ion-col>
            <ion-col class="btn"><ion-icon name="add-circle" style="margin-left: 5px;" (click)="addQuestion()"></ion-icon></ion-col>
          </ion-row>
          <div class="detail-lbl">
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
          </div>
    </div>
    <div class="q-cont">
        <ion-row class="title-row">
            <ion-col class="num"><p>2.</p></ion-col>
            <ion-col class="lbl"><p>Lorem ipsum lorem ipsum lorem ipsu?</p></ion-col>
            <ion-col class="btn"><ion-icon name="add-circle" style="margin-left: 5px;" (click)="addQuestion()"></ion-icon></ion-col>
          </ion-row>
          <div class="detail-lbl">
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
          </div>
    </div>
</ion-content>
