<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar Servicio</ion-title>
    <ion-buttons slot="start">
      <ion-button class="back-btn" (click)="back()"><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="requestCont">
  <div class="lbl-cont">
    <ion-label >Posiciones laborales que quiero</ion-label>
  </div>
  <div class="jobsTitle">
    <ion-select  placeholder="Product Manager" interface="alert"   (ionChange)="addTitle($event)">
      <ion-select-option *ngFor="let item of jobList;"   [value]="requestData.jobTitle">
          {{item.title}}
      </ion-select-option>
    </ion-select>
  </div>
  <div class="titleList-cont">
    <ion-col *ngFor="let item of selectedList">
      <ion-row>
        <ion-col class="title-col"><ion-item class="title-item">{{item.title}}</ion-item></ion-col>
        <ion-col class="close-col"><ion-icon name="close-circle" (click)="removeSelect(item)"></ion-icon></ion-col>
      </ion-row>
    </ion-col>
  </div>
  <p class="comment-lbl" style="margin-top: 5px;">Agregar más</p>
 
  <div class="lbl-cont">
    <ion-label  >Industrias de interés</ion-label>
  </div>
  <div class="jobsTitle-cont">
    <ion-input type="text" [(ngModel)]="requestData.industy" placeholder="Industrias"></ion-input>
  </div>
  <p class="comment-lbl">Agregar más</p>

  <div class="lbl-cont">
    <ion-label  >Disponibilidad de trabajo</ion-label>
  </div>
  <div class="jobsTitle-cont">
    <ion-select  placeholder="A Partir De" interface="alert" >
      <ion-select-option *ngFor="let item of availableList;" [value]="requestData.available">
          {{item.name}}
      </ion-select-option>
    </ion-select>
  </div>
  <p class="comment-lbl">Fecha de disponibilidad</p>
  <div class="date-cont">
    <ion-input type="date" placeholder="dd / mm /aaaa" (ionFocus)="dateFocus()" name="aDate" id="date" [(ngModel)]="requestData.available_date"></ion-input>
  </div>

  <div class="lbl-cont">
    <ion-label  >Última remuneración</ion-label>
  </div>
  <div class="jobsTitle-cont">
    <ion-input type="text" [(ngModel)]="requestData.remuner" placeholder="Industrias"></ion-input>
  </div>
  <p class="comment-lbl">*Salario bruto mensual</p>

  <div class="lbl-cont">
    <ion-label  >Rango salarial (lo que busco)</ion-label>
  </div>
  <div class="jobsTitle-cont">
    <ion-row>
      <ion-col><ion-input type="number" placeholder="S/. min" [(ngModel)]="requestData.minValue"></ion-input></ion-col>
      <ion-col><ion-input type="number" placeholder="S/. max" [(ngModel)]="requestData.maxValue"></ion-input></ion-col>
    </ion-row>
  </div>
  <p class="comment-lbl">*Salario bruto mensual</p>

  <div class="check-cont">
    <ion-checkbox slot="start" [(ngModel)]="saveDefault"></ion-checkbox>
    <ion-label>Guardar como default</ion-label>
  </div>
  <div class="btn-cont">
    <div class="btn-img" (click)="requestService()"><p>Solicitar contacto</p></div>
  </div>
</ion-content>
