ion-toolbar{
    --min-height: 55px;
    // --background: black;
}
ion-title{
    // color: white;
    text-align: center;
    font-weight: bold;
}
#profileCont{
    // --background: black;
    ion-input{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        color: #3d8af7;
    }
    ion-select{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        height: 44px;
        color: #3d8af7;
    }
    ion-datetime{
        border: 1px solid gray;
        color: cornflowerblue;
        word-spacing: 10px;
        text-align: left;
        margin-top: 10px;
    }
     
    .comment-lbl{
        font-size: 12px;
    }
    span{
        color:#3d8af7;;
        font-weight: bold;
    }
    .common-lbl{
        color:#3d8af7;
        font-size: 12px;
        font-style: italic;
    }
    .lbl-cont{
        // color: white;
        text-align: left;
        margin-top: 25px;
    }
    .titleList-cont{
        ion-item{
            --border-width: 0px;
            --border-color: transparent;
            --min-height:30px;
        }
        .title-col{
            max-width: 90%;
            padding: 0px;
            display: flex;
            align-items: center;
            color:#3d8af7;
        }
        .close-col{
            max-width: 10%;
            display: flex;
            align-items: center;
            // color: white;
            font-size: 2.0rem;
        }
    }
    .check-cont{
        margin-top: 20px;
        display: flex;
        align-items: center;
        ion-label{
            margin-left: 15px;
        }
    }
    .btn-cont{
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        margin-top: 20px;
        .btn-img{
            background: url("../../../assets/img/btn_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 80%;
            height: 35px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                // color: white;
                font-size: 15px;
                
            }
        }
    }

}