<ion-header>
  <ion-toolbar >
    <ion-title>Japiyop</ion-title>
    <ion-buttons slot="start">
      <ion-button class="person-btn"  (click)="profile()"><ion-icon name="person" color="dark"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  (click)="filter()"><ion-icon name="funnel" color="dark"></ion-icon></ion-button>
      <ion-button (click)="message()"><ion-icon name="chatbox" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="homePage">
  <div class="container">
    <ion-col *ngFor="let job of availableJobList" style="padding: 5px;">
       <app-hunter [data]="job" [type]="'main'"></app-hunter>
    </ion-col>
    
  </div>
 
</ion-content>

