 
<ion-content class="ion-padding" id="pageCont">
  <div class="logo-cont">
    <div class="img-cont">
      <img src="assets/icons/logo_color.png" class="logo-img">
    </div>
  </div>

  <div class="form-cont">
    <form #loginForm="ngForm" novalidate>
      <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" color="dark">Email</ion-label>
            <ion-input [(ngModel)]="login.email" name="email" type="email" #email="ngModel" placeholder="Correo Electrónico" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
              Correo electronico es requerido
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="stacked" color="dark">Password</ion-label>
            <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" placeholder="Contraseña" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
              Se requiere contraseña
            </p>
          </ion-text>
      </ion-list>
      <div class="lbl-cont">
        <ion-label> ¿No tienes una cuenta? <span (click)="singUp()">Regístrate</span></ion-label>
      </div>
      <div class="btn-cont">
        <ion-button (click)="onLogin(loginForm)" type="submit" [disabled]="!loginForm.valid" color="success" size="small">Iniciar sesión</ion-button>
      </div>
    </form>
  </div>
</ion-content>
