#opaCont{
  width: 100%;
   height: 100%;
   background-color: black;
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0.8;
}
.login-logo img {
  max-width: 95%;
  border: 0;
  margin-left: -50%;
}
#pageCont{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 25px;
    left: 0;
    top: 0;
  .login-title{
      align-items: center;
      display: flex;
      margin-top: 80px;
      img{
        width: 90%;
      }
  }
  .login-social {
    margin-top: 35%;
    ion-list{
      background: none;
    }
    .btn-cont{
      margin-top: 20px;
      .btn-img{
        width: 100%;
      }
    }
  }
    
  .term-lbl{
      margin-top: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 13px;
      color: white;
      
  }
  span{
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
  }
}

 
  
  