 
ion-toolbar{
    --min-height: 55px;
    --background: black;
}
ion-title{
    color: white;
    text-align: center;
    font-weight: bold;
}
.person-btn{
    background-color: black;
    border-radius: 50%;
    ion-icon{
        color:white;
    }
}
.search-btn{
    ion-icon{
        color:white;
    }
}
#pageCont{
    --background:#1a1a1a;
    .title-cont{
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
    .hunter-cont{
        background-color: #1a1a1a;
    }
}