<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="profile()" class="person-btn" ><ion-icon name="person-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="search()" class="search-btn"><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="pageCont">
  <div class="title-cont">
    <h2>Jobhunters</h2>
  </div>
  <div class="hunter-cont">
    <ion-col *ngFor="let job of jobList" style="padding: 5px;">
      <app-job [data]="job" [type]="'main'"></app-job>
    </ion-col>
  </div>
</ion-content>
