ion-toolbar{
    --min-height: 55px;
    --background: black;
    border-bottom: 1px solid #1a1a1a;
}
ion-title{
    color: white;
    text-align: center;
    font-weight: bold;
}
ion-content{
    --background:black;
}
#addPaymentCont{
    .lbl-cont{
        color: white;
        text-align: left;
        margin-top: 25px;
    }
    ion-lable{
        color: black;
    }
    ion-input{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        color: white;
    }
    ion-select{
        color: black!important;
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        height: 44px;
    }
    ion-item{
        --background: black;
        color: white;
    }
    ion-label{
        color: white;
    }
    ion-list{
        background-color: black;
    }
    p{
        color: #19f1ca;
    }
    .check-cont{
        margin-top: 20px;
        display: flex;
        align-items: center;
        ion-label{
            margin-left: 15px;
        }
    }
    .btn-cont{
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        margin-top: 20px;
        .btn-img{
            background: url("../../../assets/img/btn_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 80%;
            height: 35px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                color: white;
                font-size: 15px;
                
            }
        }
    }
}