
.home-toolbar{
    --min-height: 55px;
    --background: black;
}
ion-title{
    color: white;
    text-align: center;
    font-weight: bold;
}
#pageCont{
    --background:#1a1a1a;
    
}
.person-btn{
    background-color: black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    ion-icon{
        color:white;
    }
}
.search-cont{
    ion-searchbar{
        background-color: black;
        color: white;
    }
    .cancel-btn{
        position: absolute;
        top: 35%;
        right: 5%;
    }
}