<ion-header>
  <ion-toolbar class="home-toolbar" [hidden]="showSearch">
    <ion-title>Jobhunters</ion-title>
    <ion-buttons slot="start">
      <ion-button class="person-btn"  (click)="profile()"><ion-icon name="person-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  (click)="filter()"><ion-icon name="options-outline" style="color:white;"></ion-icon></ion-button>
      <ion-button (click)="searchJob()"><ion-icon name="search-outline"  style="color:white;"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="search-cont" [hidden]="!showSearch" >
    <ion-searchbar  placeholder="Search..." ></ion-searchbar>
    <div class="cancel-btn" (click)="closeSearch()"><ion-icon name="close" color="light"></ion-icon></div>
  </div>
</ion-header>

<ion-content class="ion-padding" id="pageCont">
  <div class="job-cont">
    <ion-col *ngFor="let job of hunterList" style="padding: 5px;">
      <app-job [data]="job" [type]="'main'"></app-job>
    </ion-col>
  </div>
</ion-content>
