ion-toolbar{
    --min-height: 55px;
    // --background: black;
}
ion-title{
    // color: white;
    text-align: center;
    font-weight: bold;
}
 
#editProfileCont{
    
    .profile-cont{
        padding: 20px 0px;
        // background-color: #1a1a1a;
        border-bottom: 5px solid #484848;
        .avatar-col{
            max-width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .img-cont{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .avatar-img{
                    max-width: 100%;
                }
            }
        }
        .edit-col{
            max-width: 40%;
            display: inline-grid;
            justify-content: left;
            padding-left: 30px;
            ion-icon{
                font-size: 25px;
                color:#484848;
            }
        }
    }
    .seg-cont{
        padding: 10px 20px;
        border-bottom: 5px solid #212020;
         
    }
    .bar-cont{

    }
    .lbl-cont{
        margin-top: 20px;
    }
    .btn-cont{
        margin-top: 20px;
        width: 80%;
        margin-left: 10%;
        .btn-img{
            background: url("../../../assets/img/btn_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            display: flex;
            justify-content: center;
            p{
                // color: white;
                font-size: 12px;
                
            }
        }
    }
    ion-input{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        // color: white;
    }
    ion-select{
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        height: 44px;
    }  
    p{
        // color: #19f1ca;
        font-size: 12px;
        
    }
    .comment-lbl{
        font-size: 12px;
    }
    .common-lbl{
        font-style: italic;
        color:#3d8af7;
    }
    
    .check-cont{
        margin-top: 20px;
        display: flex;
        align-items: center;
        ion-label{
            margin-left: 15px;
        }
    }
    #personCont{
        padding: 5px 20px;
    }   
    #experienceCont{
        padding: 5px 20px;
        .comment-lbl{
            color:#3d8af7;
            font-style: italic;
        }
        .common-lbl{
            color:#3d8af7;
            font-style:initial;
        }
        .input-cont, .date-cont, ion-select{
            color:#00a2e5;
        }
        .titleList-cont{
            .title-col{
                max-width: 90%;
                padding: 0px;
                ion-item{
                    --padding-start: 10px;
                    --inner-border-width: 0px;
                    border: 1px solid;
                }
            }
            .close-col{
                max-width: 10%;
                display: flex;
                align-items: center;
                font-size: 2.0rem;
            }
        }

    }
    #studyCont{
        padding: 5px 20px;
        .input-cont, .date-cont, ion-select{
            color:#00a2e5;
        }
    }
}