<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button class="back-btn" (click)="back()"><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="editProfileCont">
  <div class="profile-cont">
    <ion-row>
      <ion-col class="avatar-col">
        <div class="img-cont">
          <div style="width: 100px;height: 100px;"><img src="assets/img/avatar_00.png"  class="avatar-img"/></div>
        </div>
      </ion-col>
      <ion-col class="edit-col">
        <ion-icon name="create" style="margin-bottom: 10px;" color="dark"></ion-icon>
        <ion-icon name="happy" style="margin-top: 10px" color="dark" (click)="showOptions()"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="seg-cont">
      <ion-segment (ionChange)="segmentChanged($event)" value="personal">
        <ion-segment-button value="personal">
          <ion-label>Personal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="experience">
          <ion-label>Experiencia</ion-label>
        </ion-segment-button>
        <ion-segment-button value="studio">
            <ion-label>Estudios</ion-label>
          </ion-segment-button>
      </ion-segment>
  </div>

  <div class="bar-cont">
    <ion-progress-bar [value]="barStatus"></ion-progress-bar>
    <ion-row class="bar-row">
      <ion-col class="des-col"><p>Tu perfil ya está casi completo</p></ion-col>
      <ion-col class="state-col"><p>{{completeStatus}}%/ 100%</p></ion-col>
    </ion-row>
  </div>
<!-- Personal Contaier -->
  <div id="personCont" [hidden]="viewState !='personal'">
      <div class="lbl-cont"><ion-label>Nombre y Apellido</ion-label></div>
      <div style="margin-top: 15px;"><ion-label class="name-lbl" style="color: #3d8af7;">{{userInfo.first_name}} {{userInfo.last_name}}</ion-label></div>

      <div class="lbl-cont"><ion-label>Teléfono</ion-label></div>
      <div class="input-cont">
          <ion-input name="number" type="number" [(ngModel)]="userInfo.mobile_phone" required></ion-input>
      </div>
      
      <div class="lbl-cont"><ion-label>Correo electrónico</ion-label></div>
      <div class="input-cont">
          <ion-input name="password" type="email" [(ngModel)]="userInfo.email" required></ion-input>
      </div>
      
      <div class="lbl-cont"><ion-label>Contraseña</ion-label></div>
      <div class="input-cont">
          <ion-input  name="password" type="text" [(ngModel)]="userInfo.password" required></ion-input>
      </div>
      
      <div class="lbl-cont"><ion-label  >DNI</ion-label></div>
      <div class="input-cont">
          <ion-input name="dni" type="text" [(ngModel)]="userInfo.dni" required></ion-input>
      </div>
       
      <div class="lbl-cont"><ion-label>Fecha de nacimiento</ion-label></div>
      <div class="date-cont">
            <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="userInfo.birthday"></ion-datetime>
      </div>
       
      <div class="lbl-cont"><ion-label>Ciudad</ion-label></div>
      <div class="select-cont">
          <ion-select  placeholder="Lima Metropolitana" interface="alert" [(ngModel)]='userInfo.city'>
              <ion-select-option *ngFor="let item of CIUDAD;" [value]="item.name">
                  {{item.name}}
              </ion-select-option>
            </ion-select>
      </div>
      <div class="lbl-cont"><ion-label>Distrito</ion-label></div>
      <div class="select-cont">
          <ion-select  placeholder="San Borja" interface="alert" [(ngModel)]='userInfo.district'>
              <ion-select-option *ngFor="let item of DISTRITO;"  [value]="item.name">
                  {{item.name}}
              </ion-select-option>
            </ion-select>
      </div>
      
      <div class="btn-cont">
          <div class="btn-img" (click)="savePerson()"><p>Guardar</p> </div>
      </div>

        
        
  </div>
<!-- Experience Container -->
  <div id="experienceCont" [hidden]="viewState !='experience'">
    <div class="lbl-cont"><ion-label>Situación laboral actual</ion-label></div>
    <div class="select-cont">
      <ion-select  placeholder=" " interface="alert" [(ngModel)]='currentSituation'>
          <ion-select-option *ngFor="let item of SITUACION_LABORAL_ACTUAL_PERFILE;"  [value]="item.name">
              {{item.name}}
          </ion-select-option>
        </ion-select>
    </div>
    <div class="lbl-cont"><ion-label>Disponibilidad de trabajo</ion-label></div>
    <div class="select-cont">
      <ion-select  placeholder="A partir de" interface="alert" [(ngModel)]='jobAvailable'>
          <ion-select-option *ngFor="let item of DISPONIBILIDAD;"  [value]="item.name">
              {{item.name}}
          </ion-select-option>
        </ion-select>
    </div>
    <p class="common-lbl" style="color:#3d8af7;">Fecha de disponibilidad</p>
    <div class="date-cont">
        <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="availableDate"></ion-datetime>
    </div>

    <div class="lbl-cont"><ion-label>Industrias de interés</ion-label></div>
    <div class="selectedList-cont">
      <ion-item *ngFor="let item of interestingIndusList">
          <ion-col class="title-col"><ion-label class="title-item">{{item.name}}</ion-label></ion-col>
          <ion-col class="close-col"><ion-icon name="close-circle" (click)="removeSelect(item)"></ion-icon></ion-col>
      </ion-item>
    </div>
    
    <p class="comment-lbl">Agregar industria</p>
    <div class="select-cont">
      <ion-select  placeholder="Hoteleria y turismo" interface="alert" (ionChange)="addInteresting($event)">
          <ion-select-option *ngFor="let item of  INDUSTRIA;"  [value]="available">
              {{item.name}}
          </ion-select-option>
        </ion-select>
    </div>

    <div class="check-cont">
      <ion-checkbox slot="start" [(ngModel)]="remoteAvailable"></ion-checkbox>
      <ion-label>Trabajo remoto</ion-label>
    </div>
    <div class="check-cont">
          <ion-checkbox slot="start" [(ngModel)]="relocateAvailable"></ion-checkbox>
          <ion-label>Reubicación en otra región</ion-label>
    </div>

    <div class="lbl-cont"><ion-label>Cargo de empleo 1</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="employ" placeholder=""></ion-input>
    </div>

    <div class="lbl-cont"><ion-label>Fecha de inicio</ion-label></div>
    <div class="date-cont">
        <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="startDate"></ion-datetime>
    </div>
    
    <div class="lbl-cont"><ion-label>Fecha de finalización de estudios</ion-label></div>
    <div class="date-cont">
        <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="endDate"></ion-datetime>
    </div>

    <div class="check-cont">
      <ion-checkbox slot="start" [(ngModel)]="lastEmploy"></ion-checkbox>
      <ion-label>Último empleo</ion-label>
    </div>
    
    <div class="lbl-cont"><ion-label><span>Tipo de cargo</span> en empleo 1</ion-label></div>
    <div class="select-cont">
        <ion-select  placeholder="Directivo" interface="alert" [(ngModel)]='employPosition'>
            <ion-select-option *ngFor="let item of TIPO_DE_CARGO_EN_EMPLEO_PERFILE;"  [value]="item.name">
                {{item.name}}
            </ion-select-option>
          </ion-select>
    </div>

    <div class="lbl-cont"><ion-label >Indestria del empleo</ion-label></div>
    <div class="select-cont">
      <ion-select  placeholder="Directivo" interface="alert" [(ngModel)]='industrial'>
          <ion-select-option *ngFor="let item of INDUSTRIA;"  [value]="item.name">
              {{item.name}}
          </ion-select-option>
        </ion-select>
    </div>

    <div class="lbl-cont"><ion-label>Razón social del centro laboral</ion-label></div>
    <div class="input-cont">
        <ion-input type="text" [(ngModel)]="companyName" placeholder=""></ion-input>
    </div>
    <p>*Visible ara los jobhunters cuando les mandas una solicitud</p>

    <div class="lbl-cont"><ion-label>Número de empleados a centro</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="employCentro" placeholder=""></ion-input>
    </div>

    <div class="lbl-cont"><ion-label >Número de empleados a cargo</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="employCharge" placeholder=""></ion-input>
    </div>

    <div class="lbl-cont"><ion-label>Expertise</ion-label></div>
    <div class="selectedList-cont">
      <ion-col *ngFor="let item of expertSelectList">
        <ion-row>
          <ion-col class="title-col"><ion-item class="title-item">{{item.title}}</ion-item></ion-col>
          <ion-col class="close-col"><ion-icon name="close-circle" (click)="removeSelect(item)"></ion-icon></ion-col>
        </ion-row>
      </ion-col>
    </div>
    <p class="comment-lbl" style="font-style: italic;">Agregar expertise</p>
    <div class="select-cont">
      <ion-select  placeholder="Cobranzas" interface="alert" [(ngModel)]='expertise'>
          <ion-select-option *ngFor="let item of EXPERTISE;"  [value]="item.name">
              {{item.name}}
          </ion-select-option>
        </ion-select>
    </div>

    <div class="lbl-cont"><ion-label>Referencias laborales 1</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="employCharge" placeholder="Nombres y apellidos"></ion-input>
    </div>

    <div class="lbl-cont"><ion-label>Cargo y empresa de la referencia</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="employCharge" placeholder="Nombres y apellidos"></ion-input>
    </div>
    
    <div class="lbl-cont"><ion-label>Relacion con la referencia</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="employCharge" placeholder="Jefe de ultimo trabajo"></ion-input>
    </div>

    <p class="comment-lbl" style="font-style: italic;" (click)="removeJob()">Eliminar este empleo</p>
    <p class="comment-lbl" style="font-style: italic;" (click)="addJob()">Agregar empleo</p>

    <div class="lbl-cont"><ion-label>Rango salarial (lo que busco)</ion-label></div>
    <div class="rang-cont">
        <ion-row>
          <ion-col><ion-input type="number" placeholder="Min" [(ngModel)]="minValue"></ion-input></ion-col>
          <ion-col><ion-input type="number" placeholder="Max" [(ngModel)]="maxValue"></ion-input></ion-col>
        </ion-row>
    </div>
    <p>*Salario bruto mensual</p>

    <div class="lbl-cont"><ion-label>Última remuneración</ion-label></div>
    <div class="input-cont">
      <ion-input type="text" [(ngModel)]="bonus"></ion-input>
    </div>
    <p>*Visible para los jobhunters cuando les mandas una solicitud</p>

    <div class="btn-cont">
      <div class="btn-img" (click)="saveExperience()"><p>Guardar</p></div>
    </div>
  </div>
<!-- Studio Contatiner -->
  <div id="studyCont" [hidden]="viewState !='studio'">
      <div class="lbl-cont"><ion-label>Profesión</ion-label></div>
      <div class="input-cont">
        <ion-input type="text" [(ngModel)]="profession" placeholder="Administración de Empresas"></ion-input>
      </div>
      
      <div class="lbl-cont"><ion-label>Institución</ion-label></div>
      <div class="select-cont">
        <ion-select  placeholder="Universidad del Pacifico" interface="alert" [(ngModel)]="institution">
            <ion-select-option *ngFor="let item of INSTITUCION;"  [value]="item.name">
                {{item.name}}
            </ion-select-option>
          </ion-select>
      </div>

      <div class="lbl-cont"><ion-label>Grado de Instrucción</ion-label></div>
      <div class="select-cont">
        <ion-select  placeholder="Bachiller" interface="alert" [(ngModel)]="instruction">
            <ion-select-option *ngFor="let item of GRADO_DE_INSTRUCCION_PERFIL;"  [value]="item.name">
                {{item.name}}
            </ion-select-option>
          </ion-select>
      </div>

      <div class="lbl-cont"><ion-label >Fecha de inicio</ion-label></div>
      <div class="date-cont">
          <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="startStudyDate"></ion-datetime>
      </div>
      
      <div class="lbl-cont"><ion-label>Fecha de finalización</ion-label></div>
      <div class="date-cont">
          <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="endStudyDate"></ion-datetime>
      </div>
      <p class="common-lbl">Agregar otros estudios</p>

      <div class="lbl-cont"><ion-label>Especialidad(max 1)</ion-label></div>
      <div class="input-cont">
        <ion-input type="text" [(ngModel)]="special" placeholder="Ventas"></ion-input>
      </div>
      <p class="comment-lbl">*Colocar la más relevante</p>

      <div class="lbl-cont"><ion-label>Institución</ion-label></div>
      <div class="select-cont">
        <ion-select  placeholder="Universidad del Pacifico" interface="alert" [(ngModel)]='institutionOne'>
            <ion-select-option *ngFor="let item of INSTITUCION;"  [value]="item.name">
                {{item.name}}
            </ion-select-option>
          </ion-select>
      </div>

      <div class="lbl-cont"><ion-label >Fecha de inicio</ion-label></div>
      <div class="date-cont">
          <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="startStudyOneDate"></ion-datetime>
      </div>
      
      <div class="lbl-cont"><ion-label>Fecha de finalización</ion-label></div>
      <div class="date-cont">
          <ion-datetime displayFormat="DD / MM / YYYY" placeholder="dd / mm / aaaa" [(ngModel)]="endStudyOneDate"></ion-datetime>
      </div>
      <p class="common-lbl">Eliminar expecialidad</p>
      <p class="common-lbl">Agregar otros estudios</p>

      <div class="lbl-cont"><ion-label>Idiomas</ion-label></div>
      <div class="select-cont">
        <ion-select  placeholder="Brazil" interface="alert" [(ngModel)]='language'>
            <ion-select-option *ngFor="let item of IDIOMAS;"  [value]="item.name">
                {{item.name}}
            </ion-select-option>
          </ion-select>
      </div>

      <div class="lbl-cont"><ion-label>Certificado</ion-label></div>
      <div class="input-cont">
        <ion-input type="text" [(ngModel)]="certificate" placeholder="TOEFL"></ion-input>
      </div>
      <p class="common-lbl">Agregar idimas</p>

      <div class="lbl-cont"><ion-label>Otros</ion-label></div>
      <div class="input-cont">
        <ion-input type="text" [(ngModel)]="others" placeholder="Docencia"></ion-input>
      </div>
      
      <div class="lbl-cont"><ion-label>Institución</ion-label></div>
      <div class="input-cont">
        <ion-input type="text" [(ngModel)]="othersInstituction" placeholder="PUCP"></ion-input>
      </div>
      <p class="common-lbl">Agregar actividades</p>

      <div class="btn-cont">
        <div class="btn-img" (click)="saveStudies()"><p>Guardar</p></div>
      </div>
  </div>


</ion-content>
