<ion-header>
  <ion-toolbar>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="pageCont">
  <div class="form-cont">
    <form #filterForm="ngForm" novalidate>
      <div class="select-cont">
        <ion-item>
          <ion-label position="stacked" color="dark">Categorias</ion-label>
          <ion-select  placeholder="Hero" interface="popover"   >
            <ion-select-option *ngFor="let item of categoryList;" [value]="filter.category"   >
                {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        

        <ion-item>
          <ion-label position="stacked" color="dark">Industrias especialiadas</ion-label>
          <ion-select  placeholder="Publicidad" interface="popover"  >
            <ion-select-option *ngFor="let item of indusList;" [value]="filter.indus"  >
                {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked" color="dark">Cargo</ion-label>
          <ion-select  placeholder="Mando medio" interface="popover" >
            <ion-select-option *ngFor="let item of positionList;" [value]="filter.position">
                {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
    
        <ion-item>
          <ion-label position="stacked" color="dark">CaCiudad</ion-label>
          <ion-select  placeholder="Mando medio" interface="popover"  >
            <ion-select-option *ngFor="let item of cityList;" [value]="filter.city"  >
                {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="btn-cont">
        <ion-button (click)="filterApply(filterForm)" type="submit" color="success" fill="clear"><ion-label>Aplicar</ion-label></ion-button>
      </div>
    </form>
  </div>
  
  
</ion-content>
