 
ion-title{
    font-weight: bold;
    text-align: center;
}
ion-toolbar{
    --min-height: 55px;
    // --background: black;
    // color:white;
}
#pageCont{
    // --background:black;
}
.form-cont{
    // padding: 5px 5px;
    ion-label{
        // color: white;
    }
    ion-item{
        margin-top: 20px;
        // --background: black;
        // --color:white;
        --border-color: transparent;
    }
    ion-select{
        // color: white!important;
        border: 1px solid gray;
        border-radius: 2px;
        padding: 2px 10px !important;
        margin-top: 10px;
        height: 44px;
    }
    .btn-cont{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
        ion-button{
            width: 150px;
            height: 44px;
            // --color:white;
            background: url("../../../assets/img/btn_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            --border-radius: 16px;
            border-radius: 20px;
        }
    }
}